<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liskovsoft.smartyoutubetv2.companion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".CompanionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Companion"
        android:usesCleartextTraffic="true">

        <!-- Main remote control screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Share target: receives YouTube URLs shared from the YouTube app (or any browser).
            Accepts text/plain (which is how YouTube shares its links).
        -->
        <activity
            android:name=".ShareHandlerActivity"
            android:exported="true"
            android:label="@string/cast_to_tv"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Companion.Translucent">
            <!-- Share from YouTube / browser -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Direct VIEW of youtube.com / youtu.be links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"  android:host="www.youtube.com" />
                <data android:scheme="https" android:host="www.youtube.com" />
                <data android:scheme="http"  android:host="m.youtube.com" />
                <data android:scheme="https" android:host="m.youtube.com" />
                <data android:scheme="http"  android:host="youtu.be" />
                <data android:scheme="https" android:host="youtu.be" />
            </intent-filter>
        </activity>

    </application>
</manifest>
